.vs/ExamPortalApp.API/DesignTimeBuild/.dtbcache.v2
.vs/ExamPortalApp.API/FileContentIndex/1f30129b-86db-4bbc-88ae-bbf45d47942e.vsidx
.vs/ExamPortalApp.API/v17/.futdcache.v2
.vs/ExamPortalApp.API/v17/.suo
.vs/ExamPortalApp.API/v17/.futdcache.v2
.vs/ProjectEvaluation/examportalapp.api.metadata.v7.bin
.vs/ProjectEvaluation/examportalapp.api.projects.v7.bin
